* {
  font-family: "Jura", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}
body{
    background-image: url(../imgs/bg1.png);
}

header{
    background-color: #1C6E6A;
}

.nav-box{
    font-size: 25px;
    justify-content: center;
    align-items: center;
    gap: 100px;
    display: flex;
}
.nav-item{
    list-style-type: none;
    text-decoration: none;
}
.btn{
    background-color: #61D492;
    padding: 10px 36px;
    border-radius: 13px;
    transition: background-color 0.1s linear;
}
.btn:hover{
    background-color: #469A69;
    border: 2px solid violet;
}
.about-text-box{
    text-align: center;
    align-items: center;
}
.about-text{
    font-size: 27px;
    margin: 90px 250px 20px 250px;
}
.title{
    text-align: center;
}
.sec{
    margin-bottom: 50px;
}